[submodule "MagJob-backend"]
	path = MagJob-backend
	url = https://github.com/KeepIt-Up/MagJob-backend.git
[submodule "MagJob-frontend"]
	path = MagJob-frontend
	url = https://github.com/KeepIt-Up/MagJob-frontend.git
