[submodule "MagJob-backend"]
	path = MagJob-backend
	url = https://github.com/KeepIt-Up/MagJob-backend
[submodule "MagJob-frontend"]
	path = MagJob-frontend
	url = https://github.com/KeepIt-Up/MagJob-frontend
[submodule "MagJob-swagger-server"]
	path = MagJob-swagger-server
	url = https://github.com/KeepIt-Up/MagJob-swagger-server